####################################################
# .env.development Configuration File
####################################################
# This file serves as a template for configuring environment variables essential for the development environment.
# Adjust these settings to align with your specific development needs and infrastructure requirements.

####################################################
# APPLICATION ENVIRONMENT
# Purpose: Defines the operating mode of the application (development, test, production).
# Use: Toggle features or behaviors based on the application environment.
####################################################
NEXT_PUBLIC_NODE_ENV=development

####################################################
# GITHUB
# Purpose: Contains the link to the GitHub repository for the project.
# Use: Provide a reference to the project's source code repository.
####################################################
NEXT_PUBLIC_GITHUB_REPOSITORY=https://github.com/[username]/[repositoryName]

####################################################
# SERVER CONFIGURATION
# Purpose: Contains settings pertinent to the application server, such as port and API version.
# Use: Facilitate running the server with environment-specific configurations.
####################################################
NEXT_PUBLIC_PORT=5000
NEXT_PUBLIC_VERSION=v1

####################################################
# DATABASE CONFIGURATION
# Purpose: Configuration settings for the application's database connection.
# Use: Establish and manage the connection to the MongoDB database.
####################################################
NEXT_PUBLIC_MONGODB_URL=mongodb+srv://[clusterName]:[password]@cluster0.50yg5.mongodb.net/[databaseName]?retryWrites=true&w=majority&appName=Cluster0

####################################################
# REDIS CONFIGURATION
# Purpose: URL for connecting to the Redis instance.
# Use: Establish a connection to Redis for caching and other data storage requirements.
####################################################
NEXT_PUBLIC_REDIS_URL="redis://default:[password]@[redisHost]:[port]"

####################################################
# BLOB STORAGE CONFIGURATION
# Purpose: Token for read/write access to blob storage services.
# Use: This token is used to authenticate the application for blob storage operations.
####################################################
NEXT_PUBLIC_BLOB_READ_WRITE_TOKEN=

####################################################
# GOOGLE DRIVE SERVICE CONFIGURATION
# Purpose: Optional settings for integrating Google Drive as a file storage solution.
# Use: Specify authentication and folder details for storing files on Google Drive.
####################################################
NEXT_PUBLIC_GOOGLE_DRIVE_CLIENT_EMAIL=
# Purpose: The client email for authenticating with the Google Drive API.

NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_KEY=
# Purpose: The unique key of the Google Drive folder where files will be stored.

NEXT_PUBLIC_GOOGLE_DRIVE_PRIVATE_KEY=
# Purpose: The private key for authenticating Google Drive API requests.

NEXT_PUBLIC_GOOGLE_DRIVE_SCOPE=https://www.googleapis.com/auth/drive
# Purpose: The scope of access requested for Google Drive API. This URL grants access to manage files on Google Drive.

####################################################
# API URL CONFIGURATION
# Purpose: Defines the base URL for API requests within the application.
# Use: Ensure that the application makes API requests to the correct server URL.
####################################################
NEXT_PUBLIC_API_URL=
